body, html {
    margin: 0;
    height: 100%;
    width: 100%;
}

.main-container {
    min-height: 100%;
}

.hidden {
    display: none;
}

.footer {
    position: relative;
    margin-top: -100px;
    width: 100%;
    height: 100px;
    background: black;
    color: black;
    font-size: 13px;
    overflow: hidden;
}

    .footer a {
        color: white;
        font-size: 20px;
        font-weight: 800;
        margin-right: 50px;
    }

.panel {
    width: 100%;
    min-height: 100px;
    display: inline-block;
}

.clearfix{
    clear:both;
}

.push {
    height: 100px;
    clear: both;
    margin-top: 40px;
}

.panel:nth-child(2n-1), .footer {
    background: black;
    color: white;
}

.panel-box {
    margin: auto;
    max-width: 1400px;
    padding: 20px;
}

.counter {
    height: 50%;
    width: 50%;
    margin: auto;
    border-radius: 15px;
}

    .counter.white {
        background: white;
        border: black 1px solid;
    }

    .counter.black {
        background: black;
    }

#panel1 input {
    margin-bottom: 30px;
}

.data {
    display: inline-block;
    float: right;
    min-width: 250px;
    max-width: 400px;
    max-height: 500px;
    overflow-y: scroll;
    margin: 10px;
    border: black 3px solid;
    padding: 15px;
    border-radius: 20px 0 0 20px;
}

.game-board table {
    border-spacing: 0;
    margin: 30px;
    background: red;
    box-shadow: 0 0 16px 9px;
    float: left;
    border-radius: 15px;
}

.game-board td {
    width: 51px;
    height: 51px;
    background: url(images/middle-tile.png);
    padding: 0px;
    cursor: pointer;
}

    .game-board td:hover {
        border-radius: 15px;
    }

.game-board tr:first-child td {
    background: url(images/top-tile.png);
}

.game-board tr:last-child td {
    background: url(images/bottom-tile.png);
}

.game-board td:first-child {
    background: url(images/left-tile.png);
}

.game-board td:last-child {
    background: url(images/right-tile.png);
}

.game-board tr:first-child td:first-child {
    background: url(images/top-left-tile.png);
    border-top-left-radius: 15px;
}

.game-board tr:first-child td:last-child {
    background: url(images/top-right-tile.png);
    border-top-right-radius: 15px;
}

.game-board tr:last-child td:first-child {
    background: url(images/bottom-left-tile.png);
    border-bottom-left-radius: 15px;
}

.game-board tr:last-child td:last-child {
    background: url(images/bottom-right-tile.png);
    border-bottom-right-radius: 15px;
}

.friend-link {
    display: block;
    min-width: 650px;
}

.chatbox {
    clear: right;
    float: right;
}

#send {
    margin-right: 20px;
}

.labelspan {
    float: left;
    margin-right: 5px;
}

.infobox {
    vertical-align: top;
    max-width: 500px;
    display: inline-block;
    padding: 30px;
    margin: 30px;
    box-shadow: 0 0 16px 9px;
    border-radius: 15px;
    background: #FFE6CF;
}

    .infobox .item {
        clear: both;
        padding: 10px 0px;
        float: right;
    }

        .infobox .item .labelspan {
            display: inline-block;
        }

#custom-coder {
    display: inline-block;
    min-width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 16px 9px;
    margin: 30px;
}

    #custom-coder .CodeMirror {
        border-radius: 15px 15px 0 0;
    }

    #custom-coder .custom-coder-settings {
        width: 100%;
        background: #FFE6CF;
        border-radius: 0 0 15px 15px;
        padding:20px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;  
    }

    #custom-coder .custom-coder-settings button{
        float:right;
    }
    
    #player-notifier{
        position: absolute;
        height: 40px;
        width: 300px;
        background: rgb(219, 158, 28);
        border-radius: 0 0 15px 0;
        font-weight: 900;
    }
    
    #move-notifier{
        background: #F0BB8C;
        color: black;
        padding: 10px 20px;
        border-radius: 0 0 15px 0;
        float:left;
    }
    
    #player-notifier #player-colour{
        float: left;
        color: white;
        padding: 10px 20px;
        border-radius: 0 0 15px 0;
    }

#panel1 a{
    color: white;
}
